.git
.gitignore
.dockerignore

node_modules
dist
build
coverage

.env
.env.*
!.env.example

*.log
*.pid
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars

Project_Report_Screenshots
.vscode
.DS_Store
Thumbs.db
